@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #F2F2F2;
  --brand: #D4FF00;
  --surface: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-surface: var(--surface);

  --font-heading: var(--font-bebas);
  --font-body: var(--font-manrope);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--brand);
  color: var(--background);
}
